.root {
    position: relative;
}

@media (max-width: 530px)  {
    .root{
 margin: 20px 0;
  }}

.input {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 42px;
    padding-right: 42px;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.15s ease-in-out;
    outline: none;
}

@media (max-width: 530px)  {
    .input{
        width: 220px;
    }
}

.input:focus {
        width: 350px;
}

@media (max-width: 530px)  {
    .input:focus{
        width: 300px;
        
    } 
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    top: 15px;
    left: 12px;
}

.clearIcon {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    top: 17px;
    right: 15px;
    cursor: pointer;
    
}

.clearIcon:hover {
    opacity: 0.8;
}