.categories{
  padding:20px  10px 10px 10px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y:hidden;
  background-color: rgb(232, 224, 224);
  
}

.categories::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.categories::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(196, 34, 34, 0.3); 
  border-radius: 10px;
}

.categories::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgb(138, 138, 177); 
}

@media (max-width: 760px)  {
.categories{ 
    width: 693px;
  }   
}

@media (max-width: 530px)  {
.categories{
  max-width: 346px;
 
}
}

.categories > button::first-letter{
text-transform: uppercase;
}

.categories > button:hover {
  background-color: gray;
}

.active {
  border-bottom: 4px solid blue;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #753d32 0%, #af7f3a  51%, #b6351b  100%);
  color:#fff
}

.categories > button {
  border-radius: 10px;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.categories > button:before {
  border-radius: 10px;

  animation: opacityFallbackOut .8s step-end forwards;
  backface-visibility: hidden;
  background-color: blue;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .9s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.categories > button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.categories > button:after {
  background-color: #FFFFFF;
}

.categories > button span {
  z-index: 1;
  position: relative;
}
