

  .categories{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media (max-width: 760px)  {
  .categories{ 
      width: 693px;
     
}   
}

@media (max-width: 530px)  {
  .categories{
     
     width: 336px;}
  
}

.categories > li {
    /* background-color: #f9f9f9; */
    padding: 13px 30px;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    
}

.categories > li:hover {
    background-color: gray;
  }

  .active {
   border-bottom: 4px solid blue;
  }