.wrap{
    width: 1070px;
    height: 100vh;
    display: flex;
    background-color: #fff;
    padding: 10px;
    
}

.wrapImg{
 
    width: 50%;
    height: 100vh;
    
}

.wrapRightBlock{
    width: 50%;
    /* height: 100vh; */
    padding-left: 10px;
   background-color: #fff;

}
.brand{font-weight: bold;
font-size: 22px;}
.title{
    font-weight: bold;
    font-size: 16px;
}
.ratingWrap{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.reviews{
    display: flex;
    margin-left: 30px;
}

.wrapRightOne{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
}


/* .wrapRightPrice{
    border: 1px solid red;
    
} */
.priceOne{
    color:red;
font-size: 32px;
font-weight: normal;}

.discount{

    color: gray;
    font-size: 16px;
    text-decoration: line-through;
}
.haveProduct{
    color:green
}

.pay{
    background-color: green;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.payCredit{
    cursor: pointer;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
}

.springShopping{
    height: 40px;
    width: 100%;
    background-color: green;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.springShoppingDiscount{
    color:yellow;
    display: block;
    margin-left: 10px;
}

.bonus{
    height: 40px;
    width: 100%;
    border: 1px solid gray;
    display: flex;
    align-items: center; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.bonusB{
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bonusBPlus{
    font-weight: bold;
    margin-right: 10px;
}

.wrapRezetka{
    border: 1px solid gray;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
     margin-top: 20px;
     border-radius: 8px;
}

.wrapRezetka span {
    font-weight: bold;
   
}

.descriptionPayWrap{
    display: flex;
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
}
.iconWallet{
    font-size: 100px;
    color: gray;
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
    
}
.iconSecurity{
    font-size: 30px;
    color: gray;
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
    
}
.descriptionTitle{
    font-weight: bold;
}