.header {
   background-color: rgb(46, 45, 45);
    padding: 20px 10px; 
}
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      @media (max-width: 640px) {
        flex-direction: column;
   } }


   .headerCart {
    position: relative;
    display: flex;
    align-items: center;
    padding: 9px;
    /* border-radius: 25px; */
    border-radius: 8px;
    
  }

  .totalCount{
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    position: absolute;
    top: -4px;
    right: -4px;
}

  .headerCart:hover{
    background-color: rgb(97, 96, 108);
  }

  .countTotal{
    color: white;
    font-size: 18px;
    
  }

  /* .price{
    color: white;
    font-size: 18px;
  }

  .wrapPrice{
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;
  } */

  .icon{margin-right: 3px;
    color: white;
    font-size: 28px;
  }

  