
body{
  background-color: rgb(241, 236, 236);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper{
  width: 1070px;
  margin: 0 auto;
  background-color: rgb(251, 248, 248);
  padding: 0 10px;
}


@media (max-width: 760px)  {
    .wrapper{ 
      max-width: 713px;
      grid-template-columns: repeat(2, 1fr);
    }   
}

@media (max-width: 530px)  {
    .wrapper{
      max-width: 356px;
      grid-template-columns: repeat(1, 1fr);}
    
}