/* .wrapper{
  background-image: url("/src//assets//images//backgroundImg.jpg");
  background-size:contain;
  background-repeat: repeat; */
  /* background-position-x: center;
    background-position-y: center; */
  /* color: white; */
  /* height: 100vh;
  width: 100%; */
/* } */

body{
  background-color: rgb(241, 236, 236);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}

.wrapper{
  width: 1070px;
  margin: 0 auto;
  background-color: rgb(251, 248, 248);
  padding: 0 10px;
}

